<form #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
      <label for="name">Course Name</label>
      <input
      required
      minlength="3"
      ngModel
      id="name"
      type="text"
      name="name"
      (change)="log(name)"
      #name="ngModel"
      class="form-control">
      <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors.required">Course name is required.</div>
        <div *ngIf="name.errors.minlength">Course name should be at least {{ name.errors.minlength.requiredLength }} characters long.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="category">
        Categories
        <select required ngModel #category="ngModel" name="category" id="category" class="form-control">
          <option value=""></option>
          <option *ngFor="let cat of categories" [value]="cat.id"> {{cat.name}} </option>
        </select>
        <div *ngIf="category.touched && !category.valid" class="alert alert-danger"> Category field is required. </div>
      </label>
    </div>
    <div class="checkbox">
      <label for="hasGuarantee">
        <input ngModel type="checkbox" name="hasGuarantee" id="hasGuarantee"> Does the course have a 30 day moneyback guarantee?
      </label>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid">Create</button>
  <p>{{f.value | json}}</p>
</form>
